{form form class=>"form-horizontal"}
    <div class="form-details form-details-bg"> 
        <div class="form-row">
            <div class="input-box size-a">
                <span class="input-label">
                    {label title class=>"control-label"/}:
                </span>
                <div class="input-group">    
                    {input title class=>"form-control"}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-box">
                <span class="input-label">
                    {label description class=>"control-label"/}:
                </span>

                <div class="input-group">    
                    {input description class=>"form-control", style=>"height: 150px;"}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-box size-b">
                <span class="input-label">
                    {label start_time class=>"control-label"/}
                </span>
                <div class="input-group">   
                    {input start_time class=>"form-control datetimepicker"}
                    <div class="input-group-append">
                        <span class='input-group-text'><span class="fa fa-calendar"></span></span>
                    </div>    
                </div>
            </div>
            <div class="input-box size-b">        
                <span class="input-label">
                    {label end_time class=>"control-label"/}
                </span>
                <div class="input-group">
                    {input end_time class=>"form-control datetimepicker"}
                    <div class="input-group-append">
                        <span class='input-group-text'><span class="fa fa-calendar"></span></span>
                    </div>    
                </div>
            </div>
        </div> 
        <div class="form-row">
            <div class="input-box size-a">      
                <span class="input-label">
                    <label>Objekt</label>
                </span>            
            </div>    
            <div class="input-box size-a px-3">        
                {control eleObjectChanger}
            </div>        
        </div>
        <div id="category_box" class="form-row">
            <div class="input-box size-a">             
            </div>    
            <div class="input-box size-a px-3">        
                <label for="sel1">Kategória:</label>
                {input object_category_select}
                {*<select class="form-control" id="object_category" name="object_category">
                        <option>1</option>
                </select>*}
            </div>        
        </div>

        <div class="form-row">
            <div class="input-box size-d">
                <span class="input-label">
                    {label budget class=>"control-label"/}:
                </span>
                <div class="input-group">    
                    {input budget class=>"form-control"}
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">&euro;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-box size-a px-3">        
                {input repeater_is_set} Opakovanie
            </div>        
        </div>
        <div id="repeater_content" class="d-none">    
            <div class="form-row">
                <div class="input-box size-b">
                    <span class="input-label">
                        {label repeater_period_type class=>"control-label"/}
                    </span>
                    <div class="input-group">    
                        {input repeater_period_type class=>"form-control"}
                    </div>
                </div>
                <div class="input-box size-b">        
                    <span class="input-label">
                        {label repeater_periodicity class=>"control-label"/}
                    </span>
                    <div class="input-group">
                        {input repeater_periodicity class=>"form-control"}    
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-box size-b">
                        <span class="input-label">
                            {label repeater_stop_time class=>"control-label"/}
                        </span>
                        <div class="input-group">    
                            {input repeater_stop_time class=>"form-control datepicker"}
                        </div>
                    </div>    
                </div>
            </div>   
        </div>
        <div class="form-row">
            <div class="input-box size-a px-3">        
                {input reminder_is_set} Upozornenie na akciu
            </div>        
        </div>
        <div id="reminder_content" class="d-none">    
            <div class="form-row">
                <div class="input-box size-b">
                    <span class="input-label">
                        {label reminder_period_time class=>"control-label"/}
                    </span>
                    <div class="input-group">    
                        {input reminder_period_time class=>"form-control"}
                    </div>
                </div>
                <div class="input-box size-b">        
                    <span class="input-label">
                        {label reminder_period_type class=>"control-label"/}
                    </span>
                    <div class="input-group">
                        {input reminder_period_type class=>"form-control"}    
                    </div>
                </div> 
            </div>        
            <div class="form-row">
                <div class="input-box size-a">      
                    <span class="input-label">
                        <label>Mail</label>
                    </span>            
                </div>    
                <div class="input-box size-a px-3">        
                    {control eventMailChooser}
                </div>        
            </div>
        </div>    

        <div class="form-row">
            {input reminder_mail}
            {input object_category}
            {input object_type}
            {input object_id}
        </div>
    </div>
    <div class="form-row">
        <div class="input-group">
            {input submit class=>"btn btn-success"}
            <a href={plink "Calendar:day"} class="btn btn-default">Späť</a>
        </div>    
    </div>
</div>         
{/form}

<script type="text/javascript">
    $(function () {

        $.datetimepicker.setLocale('sk');
        $('.datetimepicker').datetimepicker({
            format: 'd.m.Y H:i'
        });

        $.datepicker.regional['sk'] = {
            closeText: 'Zavrieť',
            prevText: '&lt; Predchádzajúci',
            nextText: 'Nasledujúci &gt;',
            currentText: 'Dnes',
            monthNames: [
                'Január',
                'Február',
                'Marec',
                'Apríl',
                'Máj',
                'Jún',
                'Júl',
                'August',
                'September',
                'Október',
                'November',
                'December'
            ],
            monthNamesShort: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'Máj',
                'Jún',
                'Júl',
                'Aug',
                'Sep',
                'Okt',
                'Nov',
                'Dec'
            ],
            dayNames: [
                'Nedeľa',
                'Pondelok',
                'Utorok',
                'Streda',
                'Štvrtok',
                'Piatok',
                'Sobota'
            ],
            dayNamesShort: [
                'Ned',
                'Pon',
                'Uto',
                'Str',
                'Štv',
                'Pia',
                'Sob'
            ],
            dayNamesMin: [
                'Ne',
                'Po',
                'Ut',
                'St',
                'Št',
                'Pia',
                'So'
            ],
            dateFormat: 'd.m.yy',
            firstDay: 0,
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['sk']);

        $('.datepicker').datepicker({
            dateFormat: "dd.mm.yy"
        });

    });
</script>