{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}
<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="utf-8">

        <title>{ifset title}{include title|striptags} | {/ifset}Kalendár</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="{$basePath}/assets/jquery-ui/themes/base/all.css">
        <link rel="stylesheet" href="{$basePath}/assets/css/bootstrap-theme.css">
        <link rel="stylesheet" href="{$basePath}/assets/font-awesome/css/all.css">
        <link rel="stylesheet" href="{$basePath}/assets/css/style.css">
        <link rel="stylesheet" href="{$basePath}/assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width">
        {block scripts}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="{$basePath}/assets/bootstrap/bootstrap.bundle.min.js"></script>

        <link href="{$basePath}/assets//datetimepicker/build/jquery.datetimepicker.min.css" rel="stylesheet"> 
        <script src="{$basePath}/assets//datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/nette.jquery.js"></script>
        
        {ifset #include_scripts}
            {include include_scripts}
        {/ifset}
        {/block}
        {block head}{/block}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img class="logo" src="{$basePath}/assets/images/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-left main-menu">
                    <li class="nav-item nav-item-main-menu"><a n:href="Homepage:default">Kalendár</a></li>
                    <li class="nav-item nav-item-main-menu"><a n:href="Events:default">Zoznam</a></li>
                    <li class="nav-item nav-item-main-menu"><a n:href="Homepage:agenda">Agenda</a></li>
                    <li class="nav-item nav-item-main-menu"><a n:href="Admin:default">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" n:if="!$user->isLoggedIn()"><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="nav-item" n:if="$user->isLoggedIn()">{$userData['first_name']} {$userData['last_name']}</li>
                    <li class="nav-item" n:if="$user->isLoggedIn()"><a href="/homepage?do=logout"><i class="fas fa-power-off"></i></a></li>
                    <li class="nav-item"><a href="{$basePath}/navod.pdf"><i class="fas fa-question-circle"></i></a></li>
                </ul>    
            </div>
        </nav>    
        <div class="container main">            
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
            {include content}
        </div>
    </body>
</html>
