{* Latte template *}

{block content}
<h1>Agenda</h1>
<table class="table table-hover">
        {foreach $expired as $event}
        <tr>            
            <td class='size-c red'>{$event->start_time->format('d.m.Y H:i')}</td>
            <td class='size-d red'><i class="{$event->icon}"></i> {$event->object_name|noescape}</td>
            <td class="red">{$event->event_name}</td>
            <td><a n:href="Calendar:show, 'id'=> $event->id"><i class="fas fa-eye"></i></a></td>
        </tr>   
    {/foreach}    
    
    {foreach $agenda as $event}     
        <tr>
            <td class='size-c'>{$event->start_time->format('d.m.Y H:i')}</td>
            <td class='size-d'><i class="{$event->icon}"></i> {$event->object_name|noescape}</td>
            <td>{$event->event_name}</td>
            <td><a n:href="Calendar:show, 'id'=> $event->id"><i class="fas fa-eye"></i></a></td>
        </tr>   
    {/foreach}    
</table>    