{block content}

{form loginForm class=>"form-horizontal",style=>"width:300px;margin:0 auto;margin-top:15px;text-align:center"}
       
      <div class="alert alert-danger" n:if="$form->hasErrors()">  
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
      </div>

        <!-- Form Name -->
        <legend>Prihlásenie</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="login" style="text-align:left">Login:</label>
          <div class="controls">
              {input login placeholder=>"Login"}  
          </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
          <label class="control-label" for="heslo">Heslo:</label>
          <div class="controls">
            {input heslo placeholder=>"Heslo"}
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="singlebutton"></label>
          <div class="controls">
            <button id="singlebutton" name="singlebutton" class="btn btn-success"><span class="fa fa-unlock" style="padding-right:6px"></span>Prihlásiť</button>
          </div>
        </div>

        </fieldset>

    {/form}