<div class="events-objects-grid-filter left">
    <div class="btn-group">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {$objectSelected}
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu filter-event-object-size" aria-labelledby="dropdown-events-object">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-sitemap"></i> MDS    
                            {foreach $noetics as $noetic}	
                                <a class="dropdown-item" n:href="this type=>'noetic', id => $noetic->id">{$noetic->name}</a>
                            {/foreach}
                        </div>
                        <div class="col">
                            <i class="fas fa-certificate"></i> FVE  
                            {foreach $fves as $fve}	
                                <a class="dropdown-item" n:href="this type=>'fve', id => $fve->id">{$fve->name}</a>
                            {/foreach}
                        </div>
                        <div class="col">
                            <i class="fas fa-user"></i> Ľudia     
                            {foreach $users as $user}	
                                <a class="dropdown-item" n:href="this type=>'people', id => $user->id">{$user->name}</a>
                            {/foreach}
                        </div>
                        <div class="col">
                            <i class="fas fa-car"></i> Vozidlá    
                            {foreach $vehicles as $vehicle}	
                                <a class="dropdown-item" n:href="this type=>'vehicle', id => $vehicle->id">{$vehicle->id}</a>
                            {/foreach}
                        </div>
                        <div class="col">
                            <i class="fas fa-building"></i> Budovy    
                            {foreach $buildings as $building}	
                                <a class="dropdown-item" n:href="this type=>'building', id => $building->id">{$building->name}</a>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>
                        </div> 
                        <div class="dropdown">
            <div n:if="$categories" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {$categorySelected}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-events-object">
                    <div class="container">
                        <div class="row">
                            <div class="col">   
                                {foreach $categories as $category}	
                                    <a class="dropdown-item" n:href="this category=>$category->id">{$category->name}</a>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
                            </div>
            <a class="btn btn-default" href="?do=eventsObjectFilter-clearFilter">X</a>           
    </div>
</div>
