

.navbar-default{
    background: linear-gradient(to right, rgba(39,92,138,0.95), rgba(28,77,123,0.95), rgba(51,115,165,0.95), rgba(67,143,183,0.95));
    height: 70px;
    border: none;
}

.navbar-nav {
    height: 20px;
}

.navbar-nav li{
    float: left;
    display: inline;
    padding: 0 5px;
}

.navbar-default .navbar-nav li{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-nav li a  {
    font-size: 20px;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.80);
}

.logo{
    height:40px;
}

.main{
    margin-top: 10px;
}

.grid-top-box{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
}

.grid-top-box .text{
    padding-top: 10px;
}

.top-buttons{
    float: right;
}

.btn{
    border-radius: 0px !important;
    margin-right: 5px;
    color: #fff !important;
}

.form-details{
    color: #666;
    padding: 10px 10px 20px 15px;
    width: 100%;
    overflow: hidden;
}

.form-details-bg{
    background: #f2f6f2 none repeat scroll 0 0;
    border: 1px solid #eeeeee;
}

.input-box{
    float: left;
}

.form-details .form-row {
    float: left;
    text-align: left;
    width: 100%;
}

.control-label {
    padding: 7px 0;
    margin-bottom: 0;
    text-align: right;
}

.form-control{
    border-radius: 0px;
}

input[type="text"]{
    margin: 0;
}

.input-label {
    font-size: 15px;
    line-height: 20px;
    color: #7b7b7b;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;

}

.form-details .form-row .input-group {
    float: left;
    width: 100%;
    padding: 0 15px;
}

.left{
    float: left;
}

.size-a{
    width: 100%;
}

.size-b{
    width: 33%;
}

.size-c{
    width: 15%;
}

.size-d{
    width: 20%;
}

.size-e{
    width: 15%;
}

.size-f{
    width: 45%;
}

.size-g {
    width: 90%;
}

.filter-time-size{
    width: 200px;
}

a.dropdown-item{
    padding: 5px;
}

.form-time-filter{
    padding: 5px;
}

ul.event_mail_chooser li.active, ul.ele_obj_changer li.active{
    background: #007bff;
    color: #fff;
    border-radius: .25rem;
}


.card-toggler .nav-link{
    color: #000;
    border-radius: 0;
}

.card-toggler .nav-link.active{
    background: #fff;
    color: #000;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;    
}

.card-content{
    background: #fff;
    border: 1px solid #ccc;
    margin-top:-1px;
}

.done_event{
    text-transform: uppercase;
    font-weight: bold;
}

.red{
    color: #8b1010;
}

.green{
    color: #009900;
}

.clear{
    clear: both;
}

section.event_done{
    padding: 5px 0px;
    border: 1px solid green;
    background-color: #ccffcc;
}

section.event_done span{
    padding: 0px 5px;
}

section.event_done_info{
    margin-top: 10px;
    background-color: #f5ffff;
}

section.event_done_info .row-name{
    width: 20%;
    font-weight: bold;
}

.calendar .current-day{
    background: #ffff99;
}

.calendar ul{
    padding: 0;
}

.calendar ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.btn-default{
    color: #000 !important;
}

.filter-event-object-size{
    width: 1100px;
}

.nav-item-main-menu{
    padding: 0 50px 0 50px !important;
}

.main-menu{
    position:relative;
    right:300px;
}

/* Budget */
#slider-range{
    bottom: 27px;
}

.budget-filter p{
    position: relative;
    bottom: 10px;
}

.budget-filter{
    padding-left: 40px;
    margin: 0;
}

.events-objects-grid-filter{
    margin-left: -45px;
}

.budget-filter label{
    font-size: 12px;    
}

.admin-box{
    background: rgba(39,92,138,0.95);
    height: 100px;
}

.admin-box-icon{
    font-size: 65px;
    width: 87px;
    float: left;
    padding: 0 15px;
    background: #203f55;
    color: #fff;
}

.admin-box-item{
    float: left;
}

.admin-box-item span{
    text-transform: uppercase;
    position: relative;
    top: 60px;
    padding: 0 15px;
    font-size: 19px;
}

.admin-link{
    color: #fff;
}

.admin-link:hover, .admin-box-icon:hover{
    color: #CCC;
}

.addcategory_btn{
    margin-right: 5px;
    color: #000 !important;
}

.addcategory_btn.active{
    border: 1px solid #1c4d7b !important;
}

.filter-event-object-size{
    left: -400px !important;
}

.flash{
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 2px;
}

.flash.error {
    background-color: #ff6666;
}