<div class="events-grid-filter left">
    <div class="btn-group">
        <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" id="dropdown-events-time" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {$selectedPeriod['label']}
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu filter-time-size" aria-labelledby="dropdown-events-time">
                {foreach $periods as $id => $period}	
                    <a class="dropdown-item" n:href="this period => $id, from => $period['from'], to => $period['to']">{$period['label']}</a>
                {/foreach}
                <div class="dropdown-divider"></div>
                {form form class=>"form-horizontal form-time-filter"}
                    Vlastné obdobie
                    <div class="inputs">
                        {input start_time, class=>"datepicker size-f"} - {input end_time, class=>"datepicker size-f"}
                        {input use, class=>"size-a"}
                    </div>
                {/form}
            </div>
        </div>            
    </div>
</div>

<script type="text/javascript">
    $(function () {
    $.datepicker.regional['sk'] = {
        closeText: 'Zavrieť',
        prevText: '&lt; Predchádzajúci',
        nextText: 'Nasledujúci &gt;',
        currentText: 'Dnes',
        monthNames: [
            'Január',
            'Február',
            'Marec',
            'Apríl',
            'Máj',
            'Jún',
            'Júl',
            'August',
            'September',
            'Október',
            'November',
            'December'
        ],
        monthNamesShort: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'Máj',
            'Jún',
            'Júl',
            'Aug',
            'Sep',
            'Okt',
            'Nov',
            'Dec'
        ],
        dayNames: [
            'Nedeľa',
            'Pondelok',
            'Utorok',
            'Streda',
            'Štvrtok',
            'Piatok',
            'Sobota'
        ],
        dayNamesShort: [
            'Ned',
            'Pon',
            'Uto',
            'Str',
            'Štv',
            'Pia',
            'Sob'
        ],
        dayNamesMin: [
            'Ne',
            'Po',
            'Ut',
            'St',
            'Št',
            'Pia',
            'So'
        ],
        dateFormat: 'd.m.yy',
        firstDay: 0,
        isRTL: false
    };
    $.datepicker.setDefaults($.datepicker.regional['sk']);

    $('.datepicker').datepicker({
        dateFormat: "dd.mm.yy"
    });
});
</script>        