{* Latte template *}

{block content}
<div class="col-lg-12">
    <div class="grid-top-box">
        <div class="float-left">
            <h1>Kategórie</h1>
        </div>    
        <div class="float-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategory">
               Pridať kategóriu
            </button>
        </div>    
    </div>   
    {control categoryAdministration}
 </div>     



<!-- Modal -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {control addCategoryForm}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvoriť</button>
        <button type="button" class="btn btn-primary" id="add_category_btn">Pridať</button>
      </div>
    </div>
  </div>
</div>                   