{block content}
<div class="col-lg-12">
    <h1>Administrácia</h1>
    <div class="row">
        <div class="col-lg-3">
        <a class="admin-link" n:href="Admin:Categories">
            <div class="admin-box">
                <div class="admin-box-container">
                    <div class="admin-box-icon">
                        <i class="fas fa-folder"></i>
                    </div>
                    <div class="admin-box-item">
                        <span>Kategórie</span>
                    </div>
                </div>    
            </div>
        </a>
    </div>    
    </div>    
</div>    