<ul class="nav nav-pills card-toggler" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-home" aria-selected="true">Používatelia</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-home-tab">
        <ul class="nav nav-pills event_mail_chooser card-content">
            {foreach $users as $id => $name}
                <li class="nav-item" object-type="noetic" data-id="{$id}"><a class="nav-link" id="pills-profile-tab" role="tab" aria-controls="pills-profile" aria-selected="false">{$name}</a></li>
            {/foreach}
        </ul>    
    </div>
</div>