{* Latte template *}

{block content}
<div class="col-lg-12">
    <div class="grid-top-box">
        <div class="float-left">
            {*<div class="eventsstatus-grid-filter left">
                <div class="btn-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" id="dropdown-events-time" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stav
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu filter-status" aria-labelledby="dropdown-events-time">
                            	<a class="dropdown-item" n:href="this filter => 'all'">Všetky</a>
                                <a class="dropdown-item" n:href="this filter => 'valid'">Dokončené</a>
                                <a class="dropdown-item" n:href="this filter => 'overdue'">Nedokončené</a>
                        </div>
                    </div>            
                </div>
            </div>*}
            {control eventsFilter}
            {control budgetEventsFilter}
            {control eventsObjectFilter}
            {control eventsSearchForm}
            <span class="spinner" style="float:left;position:relative;top:1px;left:2px">
                <img alt="spinner" src="{$basePath}/images/ajax-loader.gif">
            </span>
        </div>    
        <div class="float-right">
            <a class="btn btn-success" n:href="Calendar:add">Pridať udalosť</a>
        </div>
    </div>    
    <div class="grid">
        {control grid}
    </div>    
</div>    