<div class="events-grid-filter left">
    <div class="btn-group">
        <div class="budget-filter"> 
            <p>
                <label for="amount">Financie:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-range" style="width:200px;"></div>
        </div>            
    </div>
</div>


<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: {$minmaxbudget['max_budget']},
            values: [{$budget_from}, {$budget_to}],
            slide: function (event, ui) {
                $("#amount").val("€" + ui.values[ 0 ] + " - €" + ui.values[ 1 ]);
            },
            change: function (event, ui) {
                window.location.href = "?budgetEventsFilter-from="+ui.values[0]+"&budgetEventsFilter-to="+ui.values[1]+"&do=budgetEventsFilter-changeRange";
            }        
        });
        $("#amount").val("€" + $("#slider-range").slider("values", 0) +
                " - €" + $("#slider-range").slider("values", 1));
    });
</script>                

