<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Upozornenie na akciu</title>
    <style>
  
    </style>
</head>
<body>
    <p>Dobrý deň,</p>

    <p>akcia {$title} by mala byť vykonaná {$event->start_time|date:'d.m.Y o\ H:i'}</p>
    <p>Viac informácií na <a href="{$link}">tomto odkaze</a></p>
</body>
</html>