{* Latte template *}

{block content}


       <table class="table table-bordered">
           <tr n:foreach='$list as $type'>
               <td>
                   <i class='{$type['icon']}'></i> {$type['name']}
               </td>
               <tr n:foreach="$type['categories'] as $category">
                   <td class="category">
                       <div class="category_name" id="{$category->id}">{$category->name}</div>                      
                   </td>
                   <td>
                       <a n:href="removeCategory!, id=>$category->id"><i class="fa fa-times"></i></a>
                       <i class="fa fa-edit edit_click"></i>
                   </td>
               </tr>    
           </tr>
       </table> 
                   
<script>
    $(function(){
        $(".edit_click").click(function(){
            var row = $(this).closest("tr");
            var category_row = row.find(".category_name");            
            var text = $.trim(category_row.text());
            var id = category_row.attr('id');
            
            category_row.html("<form><input class='ed' style='margin-right:5px' type='text' value='" + text + "'></input><i class='save_btn fa fa-save' identification='"+id+"'>");
            
        });
        
        $("body").on("click", ".save_btn", function(){
            var t = $(this);
            var id = t.attr('identification');  
            var name = t.closest('form').find('.ed').val();
            
            window.location.href="?do=changecategory&category=" + id + "&name=" + name + "";
            
        });
        
    });
    
</script>    