{* Latte template *}
{block include_scripts}
<script src="{$basePath}/js/eventForm.js"></script>
{/block}

{block content}
<div class="col-lg-12">
    <div class="grid-top-box">
        <div class="float-left">
            <div class="text"><strong>Pridanie udalosti</strong></div>
        </div>    
        <div class="top-buttons btn-group">
            <a class="btn btn-success" href="javascript:history.back()">Späť</a>
        </div>    
    </div>
    <div class="grid">
        {control eventForm}
    </div>    
</div>    