{* Latte template *}

{block content}
<div class="col-lg-12">
    <div class="grid-top-box">
        <div class="float-left">
            <a class="btn btn-default left" n:href="Calendar:day, 'day'=>$day, 'month'=>$month, 'year' => $year - 1">- rok</a>
            <a class="btn btn-default left" n:href="Calendar:day, 'day'=>$previousMonth['day'], 'month'=>$previousMonth['month'], 'year' => $previousMonth['year']">- mes</a>
            <a class="btn btn-default left" n:href="Calendar:day, 'day'=>$previousDay['day'], 'month'=>$previousDay['month'], 'year' => $previousDay['year']">- deň</a>
            
            <a class="btn btn-default left" n:href="Calendar:day, 'day'=>$nextDay['day'], 'month'=>$nextDay['month'], 'year' => $nextDay['year']">+ deň</a>
            <a class="btn btn-default left" n:href="Calendar:day, 'day'=>$nextMonth['day'], 'month'=>$nextMonth['month'], 'year' => $nextMonth['year']">+ mes</a>
            <a class="btn btn-default left" n:href="Calendar:day, 'day'=>$day, 'month'=>$month, 'year' => $year + 1">+ rok</a>
            <div class="text left"><strong>{$date}</strong></div>
        </div>    
        <div class="top-buttons btn-group">
            <a class="btn btn-success" n:href="Calendar:add, 'day'=>$day, 'month'=>$month, 'year' => $year">Pridať udalosť</a>
        </div>    
    </div>  
    <div class="grid">
        {control grid}
    </div>    
</div>    