{* Latte template *}
{block include_scripts}
<script src="{$basePath}/js/eventForm.js"></script>
{/block}

{block content}
<div class="col-lg-12">
    <div class="grid-top-box">
        <div class="float-left">
            <div class="text"><strong>Edit</strong></div>
        </div>    
        <div class="top-buttons btn-group">
            <a class="btn btn-success" href="javascript:history.back()">Späť</a>
        </div>    
    </div>  
    <div class="grid">
        {if $mode !== "complete"}
        {control eventForm}
        {else}
            Udalosť bola už ukončená
            <section class="event_done">
                <span>
                {$event->done_event->user->getName()} označil túto udalosť za ukončenú dňa {$event->done_event->date->format('d.m.Y H:i')} za vykonanú
                </span>
            </section>    
            
            <section class="event_done_info">    
            <table class="table">
                <thead>
                    <tr>
                        <td class="row-name">Názov</td>
                        <td>{$event->title}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Popis</td>
                        <td>{$event->description}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Dátum</td>
                        <td>{$event->start_time->format('d. m. Y H:i')}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Objekt</td>
                        <td>{if $event->scada_id}
                                <i class="fas fa-sitemap"></i>
                                {$event->scada_id->name}
                            {elseif $event->fve_id}
                                <i class="fas fa-fitemap"></i>
                                {$event->fve_id->name}
                            {/if}    
                        </td>
                    </tr>
                </thead>    
            </table>
            </section>            
            
            
        {/if}    
    </div>    
</div>   