{* Latte template *}
{block include_scripts}
<script src="{$basePath}/js/eventForm.js"></script>
{/block}

{block content}

<div class="col-lg-12">
    <div class="grid-top-box">
        <div class="float-left">
            <div class="text"><strong>Udalosť {$eventData['title']}</strong></div>
        </div>    
        <div class="top-buttons btn-group">
            <a class="btn btn-success" href="javascript:history.back()">Späť</a>
        </div>    
    </div>  
    <div class="grid clear">
        {if $event->done_event}
            Udalosť bola už ukončená
            <section class="event_done">
                <span>
                {$event->done_event->user->getName()} označil túto udalosť za ukončenú dňa {$event->done_event->date->format('d.m.Y H:i')} za vykonanú
                </span>
            </section>    
        {/if}    
            <section class="event_done_info">    
            <table class="table">
                <thead>
                    <tr>
                        <td class="row-name">Názov</td>
                        <td>{$eventData['title']}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Popis</td>
                        <td>{$eventData['description']}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Dátum</td>
                        <td>{$eventData['start_time']}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Objekt</td>    
                            <td>{$eventData['label']|noescape}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Kategória</td>    
                            <td>{$eventData['category'] ? $eventData['category']->name : "-"}</td>
                    </tr>
                    <tr>
                        <td class="row-name">Upozornenie</td>
                        <td> 
                            {if !$event->reminder}
                                <i class="fas fa-times">
                            {else}
                                {$eventData['reminder_date']}
                                
                                {if !empty($eventData['reminder_users'])}
                                    [{$eventData['reminder_users']}]
                                {/if}    
                            {/if}    
                        </td>
                    </tr>
                    <tr>
                        <td class="row-name">Rozpočet</td>
                        <td>{$eventData['budget']} &euro;</td>
                    </tr>
                    <tr>
                        <td class="row-name">Opakovanie</td>
                        <td>
                            <ul>
                                <li n:foreach = "$eventData['children_dates'] as $date">
                                    {$date}
                                </li>    
                            </ul>
                        </td>
                    </tr>
                </thead>    
            </table>
            </section>                                           
    </div>    
</div>   