<ul class="nav nav-pills card-toggler" id="pills-objectype-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-noetic-tab" type="noetic" data-toggle="pill" href="#pills-noetic" role="tab" aria-controls="pills-home" aria-selected="true">Noetic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-fve-tab" type="fve" data-toggle="pill" href="#pills-fve" role="tab" aria-controls="pills-profile" aria-selected="false">FVE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-users-tab" type="people" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-profile" aria-selected="false">Ľudia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-vehicles-tab" type="vehicle" data-toggle="pill" href="#pills-vehicles" role="tab" aria-controls="pills-profile" aria-selected="false">Vozidlá</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-buildings-tab" type="building" data-toggle="pill" href="#pills-buildings" role="tab" aria-controls="pills-profile" aria-selected="false">Budovy</a>
    </li>
</ul>
<div class="tab-content" id="pills-eleobject">
    <div class="tab-pane fade show active" id="pills-noetic" role="tabpanel" aria-labelledby="pills-home-tab">
        <ul class="nav nav-pills ele_obj_changer card-content">
            {foreach $noetics as $id => $name}
                <li class="nav-item" object-type="noetic" data-id="{$id}"><a class="nav-link" id="pills-profile-tab" role="tab" aria-controls="pills-profile" aria-selected="false">{$name}</a></li>
                {/foreach}
        </ul>    
    </div>
    <div class="tab-pane fade" object-type="fve" id="pills-fve" role="tabpanel" aria-labelledby="pills-profile-tab">
        <ul class="nav nav-pills ele_obj_changer card-content">
            {foreach $fves as $id => $name}
                <li class="nav-item" object-type="fve" data-id="{$id}"><a class="nav-link" id="pills-profile-tab" role="tab" aria-controls="pills-profile" aria-selected="false">{$name}</a></li>
                {/foreach}
        </ul>    
    </div>
    <div class="tab-pane fade" object-type="fve" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
        <ul class="nav nav-pills ele_obj_changer card-content">
            {foreach $people as $id => $name}
                <li class="nav-item" object-type="people" data-id="{$id}"><a class="nav-link" id="pills-profile-tab" role="tab" aria-controls="pills-profile" aria-selected="false">{$name}</a></li>
                {/foreach}
        </ul>    
    </div>
    <div class="tab-pane fade" object-type="fve" id="pills-vehicles" role="tabpanel" aria-labelledby="pills-vehicles-tab">
        <ul class="nav nav-pills ele_obj_changer card-content">
            {foreach $vehicles as $id => $name}
                <li class="nav-item" object-type="vehicle" data-id="{$id}"><a class="nav-link" id="pills-profile-tab" role="tab" aria-controls="pills-profile" aria-selected="false">{$name}</a></li>
                {/foreach}
        </ul>    
    </div>
    <div class="tab-pane fade" object-type="fve" id="pills-buildings" role="tabpanel" aria-labelledby="pills-vehicles-tab">
        <ul class="nav nav-pills ele_obj_changer card-content">
            {foreach $buildings as $id => $name}
                <li class="nav-item" object-type="building" data-id="{$id}"><a class="nav-link" id="pills-profile-tab" role="tab" aria-controls="pills-profile" aria-selected="false">{$name}</a></li>
            {/foreach}
        </ul>    
    </div>                
</div>