{form form class=>"form-horizontal"}
    <div class="form-details form-details-bg"> 
        <div class="form-row">
            <div class="input-box size-g">
                <span class="input-label">
                    {label name class=>"control-label"/}
                </span>
                <div class="input-group">    
                    {input name class=>"form-control"}
                </div>
                <div class="input-group">    
                    {input send, id=>"add_cat_submit_btn", class=>"d-none"}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-box">
                <span class="input-label">
                    <label>Typ:</label>
                </span>
                <div class="input-group">    
                    {foreach $types as $key => $item} 
                        <button data-type="{$item['type']}" class="btn btn-light addcategory_btn" type="button"><i class="{$item['icon']}"></i></button>
                    {/foreach}
                </div>
            </div>
        </div>
{/form}


<script>
    $(function(){
        
        $("#add_category_btn").click(function(){
            $("#add_cat_submit_btn").trigger("click");
        });
        
        $(".addcategory_btn").click(function(){
            
            var type = $(this).attr('data-type');
            $("#event_type_hidden").val(type);
            
            $(".addcategory_btn").each(function(i, j){
                $(j).removeClass('active');
            });
            $(this).addClass('active');
          
            var radio = $(this).prev();
            radio.prop('checked','checked');
        });
    });
</script>    